<h1>Create a new article</h1>

<%= form_with scope: :article, url: articles_path, local: true do |f| %>

  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %> <!-- text_field: linha de texto -->  
  </p>

  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %> <!--text_arear: area de texto-->  
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>